<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Private Yoga London</title>
  <!-- Apps and Static -->
  {% load static %}
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.1.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="{% url 'index' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->



    <!-- ======= Privacy Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>FAQ</h2>
          <h3>EVERYTHING YOU NEED TO GET STARTED</h3>
        </div>
        <br>

        <div class="col-lg-12">
          <h2>HOW DO I GET STARTED?</h2>
          <p>
            You can start by calling now or scheduling a time for Ben to call you via email. On our call we will discuss your availability and needs. From there we can schedule your complimentary introductory private yoga session.
          </p>
        </div>
        <br>

        <div class="col-lg-12">
          <h2>WHAT SUPPLIES DO I NEED?</h2>
          <p>
            You’ll need a mat, two blocks, a blanket, and a strap. It’s okay if you don’t have everything yet for the introductory session.
          </p>
        </div>
        <br>

        <div class="col-lg-12">
          <h2>I’M JUST LOOKING FOR A TEACHER TO DO A ONE-TIME SESSION WITH. DO YOU DO THAT?</h2>
          <p>
            Ben works with clients who are interested in working with a private yoga instructor on a weekly, ongoing basis. We don’t offer single sessions at this time.
          </p>
        </div>
        <br>

        <div class="col-lg-12">
          <h2>I LIVE A LITTLE OUTSIDE THE NEIGHBORHOODS YOU LISTED. WILL YOU TRAVEL TO ME?</h2>
          <p>
            Ben mostly work in Marylebone, Carnaby, Soho, Fitzrovia, Tyburnia, and Covent Gardens. If you are slightly outside this zone, we may be able to accommodate with an adjustment to our in rates.
          </p>
          <div class="col-lg-8">
            <img src="{% static '/img/working-areas.jpg' %}" class="img-fluid" alt="">
          </div>      
        </div>
        <br>

        <div class="col-lg-12">
          <h2>WHAT ARE YOUR RATES?</h2>
          <p>
            Private yoga rates are comparable to private psychotherapy rates. We’ll give you a quote on our phone consultation. 
          </p>
        </div>
      <br>
      
        <div class="col-lg-12">
          <h2>I’VE NEVER DONE YOGA BEFORE. IS THIS FOR ME?</h2>
          <p>
            Yes! We love working with beginners.
          </p>
        </div>
        <br>

        <div class="col-lg-12">
          <h2>I HAVE AN INJURY/ILLNESS/DISABILITY. CAN YOU WORK WITH ME?</h2>
          <p>
            Ben is experienced in teaching yoga to people with a range of health conditions. We’ll discuss your specific needs on our phone call, and make sure you work with a teacher who has the skills to give you the best experience possible.
          </p>
        </div>
      <br>
      
        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ben@privateyogalondon.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+4477 607 531000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

          </div>

        </div>

      </div>
    </section><!-- End Privacy Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Ben Hemson-Struthers</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/ben-hemson-struthers-05a32b21/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="mailto: profbenjo@gmail.com" class="mail"><i class="bx bx-mail-send"></i></a>
        <a href="skype:ben.be.jammin?chat" class="skype"><i class="bx bxl-skype"></i></a>
      </div>
      <!--<div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>-->
      <div class="credits"> 
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>