<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Private Yoga London</title>
  <!-- Apps and Static -->
  {% load static %}
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.1.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-help-circle"></i> <span>About</span></a></li>
        <li><a href="#portfolio"><i class="bx bx-map-alt"></i> <span>Programs</span></a></li>
        <li><a href="#map"><i class="bx bx-street-view"></i> <span>Working Area</span></a></li>
        <li><a href="faq"><i class="bx bx-user-check"></i> <span>FAQ</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Private Yoga London</h1>
      <br>
      <h2>
      
      </h2>
      <p><span class="typed" data-typed-items="From the comfort of your home,Personally Tailored Yoga to your needs, Individual, Inclusive, Self Directed, Breathwork, Self Development, Meditation"></span></p>
      <div class="social-links">
        <a href="+447760753100" target="_blank" class="call"><i class="bx bx-phone"></i></a>
        <a href="mailto: ben@privateyogalondon.com" class="mail"><i class="bx bx-mail-send"></i></a>
        <a href="skype:ben.be.jammin?chat" class="skype"><i class="bx bxl-skype"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Welcome Home</h2>
          <p>
            Life is hectic and schedules are impossible. Trying to squeeze a yoga class into your busy day and rushing to a studio ends up creating more stress in your life.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static '/img/profile-img1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>I MAKE IT EASY AND BRING THE YOGA TO YOU.</h3>
            <p>
              Your personalised, convenient private yoga program takes place in your London home, with a weekly appointment at the perfect time for you. 
            </p>
            <p>
            Private Yoga London was founded by Ben Hemson-Struthers. Realizing the need for quality in-home yoga lessons amongst London’s busy professionals, Ben shifted focus from group classes and began specializing in private sessions with individuals and couples.
            </p>            
            <p>
            Over the years I have worked with CEOs, doctors, lawyers, producers, psychotherapists, and many more wonderful clients. I am pleased to create a space for professionals to restore physically and spiritually through yoga practice and return to their jobs, families, and personal lives feeling grounded, focused, and clear.
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Yoga?
          </h2>
          <p>Yoga is not just for your body, many of my clients use Yoga to destress and enhance their emotional wellbeing.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">87</span>
              <p>87% of people feel better after a yoga class... help improve your mood.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="count-box">
              <i class="icofont-heart-beat"></i>
              <span data-toggle="counter-up">94</span>
              <p>A vast majority of yoga practitioners (94%) do yoga for wellness-related reasons: relieve stress, improve their emotional state, enhance overall health.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="count-box">
              <i class="bx bx-hotel"></i>
              <span data-toggle="counter-up">59</span>
              <p>59% of yoga practitioners believe that yoga helps them sleep better... unwind and forget about the daily responsibilities that stress you out.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Ben Description Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ben Hemson-Struthers</h2>
        </div>
        <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <p>I was born in London and grew up in the sunny shores of Cape Town. It was in Cape Town at the young age of sixteen that I first found myself in a yoga class. After struggling with depression and substance abuse throughout my adolescence, I found refuge in embodiment and self connection through yoga practice that I hadn't realized I’d been starving for.
          </p>
          <p>I practiced yoga as a student for seven years before becoming a certified instructor in 2015. I have taught yoga to people of all ages from toddlers to seniors, and in all settings from addiction treatment centres to corporations and everywhere in between. I have trained in a variety of mind and body health practices with many wonderful teachers and mentors, and continue to practice as a lifetime student to this day.
          </p>
        </div>
          <div class="col-lg-4">
            <img src="{% static '/img/profile-img2.jpg' %}" class="img-fluid" alt="">
          </div>
          </div>
      </div>
    </section><!-- End Ben Description Section -->

     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Your Program</h2>
          <p>Here are examples of my favourite programs - tap different tags to class structure. Every one of my clients is special and will have a program is tailored to their individual needs, goals and desires.
            <br><br>“Resilience is not about being able to bounce back like nothing has happened. Resilience is your consistent resistance to give up.”
            <br>― Janna Cachola</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Mind Reset</li>
              <li data-filter=".filter-card">Strength</li>
              <li data-filter=".filter-web">Relax</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/wim-hof-method4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mind Reset 1</h4>
                <p>Wim Hof Method</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/wim-hof-method4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Wim Hof Method"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/meditation18.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Relax 1</h4>
                <p>Meditation</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/meditation18.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Meditation"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/active-vinyasa4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mind Reset 2</h4>
                <p>Active Vinyasa</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/active-vinyasa4.jpg' %}' %}" data-gall="portfolioGallery" class="venobox" title="Active Vinyasa"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/vinyasa-yoga5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Strength 1</h4>
                <p>Vinyasa Yoga</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/vinyasa-yoga5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Vinyasa Yoga"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/gentle-vinyasa-yoga18.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Relax 2</h4>
                <p>Gentle Vinyasa Yoga</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/gentle-vinyasa-yoga18.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Gentle Vinyasa Yoga"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/inversion-practice4.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mind Reset 3</h4>
                <p>Inversion Practice</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/inversion-practice4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Inversion Practice"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/full-body-strength5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Strength 2</h4>
                <p>Full Body Strength</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/full-body-strength5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Full Body Strength"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/handstand-practice5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Strength 3</h4>
                <p>Handstand Practice</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/handstand-practice5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Handstand Practice"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/acroyoga-theraputics18.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Relax 3</h4>
                <p>AcroYoga Theraputics</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/acroyoga-theraputics18.jpg' %}" data-gall="portfolioGallery" class="venobox" title="AcroYoga Theraputics"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Map Section ======= -->
    <section id="map" class="map">
      <div class="container" data-aos="fade-up">
            
        <div class="section-title">
          <h2>BEN TRAVELS TO HOMES IN</h2>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <img src="{% static '/img/working-areas.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-4 pt-4 pt-lg-0 content">
              <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Marylebone</strong></li>
              <li><i class="icofont-rounded-right"></i> <strong>Carnaby</strong></li>
              <li><i class="icofont-rounded-right"></i> <strong>Soho</strong></li>
              <li><i class="icofont-rounded-right"></i> <strong>Fitzrovia</strong></li>
              <li><i class="icofont-rounded-right"></i> <strong>Tyburnia</strong></li>
              <li><i class="icofont-rounded-right"></i> <strong>Covent Gardens</strong></li>
              <li><a href="faq"><i class="bx bx-user-check"></i> <span>FAQs</span></a></li>
              <li><a href="privacypolicy"><i class="bx bx-user-check"></i> <span>Privacy Policy</span></a></li>
            </ul>
            <br>
            <p><em>*Ben can travel slightly further out at an adjusted rate</em>
            </p>
          </div>
          </div>
        </div>

      </div>
    </section><!-- End Map Section -->

 

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>A little more about Ben</h2>
      <p>Ben Hemson-Struthers B.A. 900 Hours RYT. personal yoga teacher.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Yoga</h3>
        <div class="resume-item pb-0">
          <h4>Yoga Synergy</h4>
          <p><em>200-Hour Yoga Synergy Training at <a href="http://reunionyoga.co.za/" target="_blank">Reunion Yoga</a> with <a href="http://www.jimharringtonyoga.com/" target="_blank">Jim Harrington</a></em></p>
        </div>
        <div class="resume-item">
          <h4>Vinyasa Krama</h4>
          <p><em>600-Hour Vinyasa Krama Training at <a href="https://www.yogatemple.com/level-iii" target="_blank">Yoga Temple</a> with Matthew Sweeney</em></p>
          <p>In depth mentoring and practice of the <a href="https://www.yogatemple.com/ashtanga-yoga" target="_blank">Vinyasa Krama</a> teaching method</p>
          <ul>
            <li>Individual - sequence tailored to each student</li>
            <li>Inclusive - all students and yoga traditions weclomed</li>
            <li>Self Directed - emphasis on student maturity and learning</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Budokon</h4>
          <p><em>50-Hour <a href="http://budokon.com/what-is-yoga" target="_blank">Budokon Yoga</a> with <a href="https://www.original-condition.com/" target="_blank">Dave Gardner</a></em></p>
          <p>Modern yoga style which unites animal locomotion, martial arts and calisthenics</p>
        </div>
        <div class="resume-item">
          <h4>AcroYoga</h4>
          <p><em><a href="https://acroyoga.org/" target="_blank">AcroYoga</a> Elementals Certification</em></p>
          <p>A joyous practice that combines yoga and acrobatics. Wtih an emphasis on theraputic bodywork</p>
        </div>
      </div>
      
      <div class="col-lg-6">
        <h3 class="resume-title">Breathwork and Meditation</h3>
        <div class="resume-item">
          <h4>Wim Hof Method</h4>
          <p><em>Advanced <a href="https://www.wimhofmethod.com/" target="_blank">Wim Hof Method</a> Certification at Inner Fire Netherlands with Wim Hof</em></p>
          <p>Realise your full potential and power through Breathing, Cold therapy and Commitment.</p>
        </div>
        <div class="resume-item">
          <h4>Vipassana Meditation</h4>
          <p><em>Over 50 days in Silent Meditation following <a href="https://www.dhamma.org/en/index" target="_blank">Goenka Style Vipassana</a></em></p>
        </div>
        <h3 class="resume-title">Experience Highlights</h3>
        <div class="resume-item">
          <h4>Yoga Studio Managment</h4>
          <p>4 years of studio ownership and management in Edinburgh
          </p>
          <ul>
            <li><a href="https://www.facebook.com/pages/category/Yoga-Studio/Union-Yoga-Training-216289751736243/" target="_blank">Union Yoga</a></li>
            <li><a href="https://www.facebook.com/SHCcentre/" target="_blank">Sacred Heart Centre</a></li>
            <li><a href="https://www.nook.yoga/" target="_blank">Yoga Nook</a></li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Kripa Foundation</h4>
          <p>Yoga within the 12 Step Addiction and Recovery Framework. <a href="https://kripafoundation.org/" target="_blank">Kripa Foundation</a> India with <a href="https://en.wikipedia.org/wiki/Joseph_H._Pereira" target="_blank">Father Joe Pereira</a></p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p><Mar>Marylebone, London, United Kingdom</p>
              </div>
              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ben@privateyogalondon.com</p>
              </div>
              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+4477 607 531000</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Ben Hemson-Struthers</h3>
      <p>“It always seems impossible until it's done.”
        <br>― Nelson Mandela</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/ben-hemson-struthers-05a32b21/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="mailto: ben@privateyogalondon.com" class="mail"><i class="bx bx-mail-send"></i></a>
        <a href="skype:ben.be.jammin?chat" class="skype"><i class="bx bxl-skype"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>